<h2>change recipe</h2>
<%= form_for(:dish,:url => {:action =>'update', :id => @dish.id}) do |f| %>

	<%= render(:partial => "form", :locals => {:f => f}%>

<%= submit_tag("update recipe")%>

<%end%>


