

<h1>let the feast begin!!</h1>
<p>please enter all feast deatails</p><br />

<%=error_messages_for(@feast)%>

<%= form_for @feast, :multipart => true do |f|%>

 	<%=render(:partial => 'form', locals: {f: f})%>

<%end%> <!-- form end -->











	
	
	<%if false%>
	<div id="addy">
	</div>
	<% @fields = render(partial: 'participations_fields', locals: {f: f})%>	
	
	<%= link_to_function "addy","addy()", 
		data: {try:@try, content: "#{@fields}"}, id: 'try'%>		
	
	<%end%>		

<!--
'<p>hello</p>
								    <label for="feast_name">feast name</label>
									<br><br>
									<input id="feast_name" name="feast[name]" type="text" value="has no name">
									<br><br>
									'}, id: 'try')
										-->
